@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');


.aboutSection {
    height: 100vh;
    min-height: 850px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5vw;
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 30px;


}

.info {
    display: flex;
    flex-direction: column;
}

p {
    font-size: 1.3em;
    font-family: sans-serif;
    color: whitesmoke
}

h1 {
    font-family: sans-serif;
    color: whitesmoke
}

.info img {
    filter: invert(100%) sepia(0%) saturate(1794%) hue-rotate(12deg) brightness(118%) contrast(80%);
    height: 60px;
    width: 60px;
    min-width: 100px;


}

.profilePic {
    border-radius: 50%;
    width: 400px;
    color: #e6e6e6
}

.linksWithIcons {
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding-top: 20px;
    overflow: hidden;
}

.rocklayer1 {
    width: 100%;
    height: clamp(80px, 15vh, 180px);
    overflow: hidden;
    transform: translateY(8px);
    z-index: 0;
}

.rocklayer1 svg {
    width: 100%;
    height: 100%;
    display: block;
}

.rockLayer1Path {
    fill: var(--c9);
    
    /* Replace 'blue' with your desired color */




}

.aboutSectionContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--c10);
}

@media (max-width: 1080px) {

    .aboutSection {

        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        min-height: 500px;


    }

    .info {
        display: flex;
        flex-direction: column;
        width: 80vw;
        text-align: center;
        align-items: center;
    }

    .profilePic {
        border-radius: 50%;
        width: 300px;
        color: #e6e6e6
    }

    .linksWithIcons {
        justify-items: center;
        gap: 6vw;


    }
}