.mountainsContainer {
  position: relative;
  width: 100vw;
  height: 90vh;
  overflow: hidden;
  background-color: var(--c1); /* Now uses the dynamic color from JavaScript */

}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;  /* Hides horizontal scroll */
  width: 100vw;
}

.layer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: block; /* Ensures SVG behaves properly */
  object-fit: cover; /* Ensures full coverage */
  height: auto;
  min-width: 1400px

}

.clouds{
  height: 100vh;
}

