.mountainsContainer {
  position: relative;

  height: 74vh;
  overflow: hidden;
  background-color: var(--c1); /* Now uses the dynamic color from JavaScript */
}



.layer {
  position: absolute;
  bottom: 0;
  display: block; /* Ensures SVG behaves properly */
  object-fit: cover; /* Ensures full coverage */



}

.clouds{
  height: 90vh;
}
@media (max-width: 1080px) {
  .layer {
    height: 320px;


  }
  .clouds{
  height: 350px;
  transform: translateX(-70px);

}
}

