@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');


.nav {
    display: flex;
    justify-content: center;
    gap: 9vh; 
    background-color: var(--c1);
  }
  
button {
    color: var(--c8);
    font-size: 2vh;
    background-color: var(--c1);
    font-family: "Roboto", sans-serif;
    border: none;
    cursor: pointer;
  }
  
@media (max-width: 1080px) {

  .nav {
      gap: 1vw; 
    }
}