.ProjectSection{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--c9);
    flex-direction: column;
    gap: 0vh;
    z-index: 2;

}

h1 {
    padding-top: 50px;
    font-size: 80px;
    z-index: 2;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 70px;
    
}
.gridItem {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    background-color: var(--c7);
    transition: transform 0.3s ease-in-out;
    border-radius: 20px;
    
    
}
.gridItem img {
    width: 20em;
    height: 20em;
    object-fit: cover;
}
.gridItem:hover img {
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out, opacity 0.4s ease-in-out;
    height: 100px;
    width: 100px;
    opacity: 0;
    border-radius: 20px;
    
}

.gridItem:hover  {
    transform: scale(0.8);
}

.gridItem .overlayText {
    position: absolute;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    
;
}
.gridItem:hover .overlayText {
    opacity: 1;
}

.rockLayerPath{
    fill: var(--c10); /* Replace 'blue' with your desired color */
    
}


.rockLayer2{
    transform: translateY(8px);

}