/* src/App.module.css */
.nav {
    display: flex;
    justify-content: center;
    gap: 10vw;
    width: 100vw;
    background-color: #f5e5e5;
  }
  
  .button {
    background-color: blue;
    color: white;
    padding: 100px 200px;
    border-radius: 80px;
    width: 300px;
    border: none;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: darkblue;
  }
  
  .section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    border-radius: 10px;
  }
  